#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: slideTop 2s ease-out forwards;
}

@keyframes slideTop {
  from {
    transform: translateY(45vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card {
  border-radius: 8px;
  background-color: #3b3b3b62;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}

input,
select {
  margin: 0 0.5em;
  padding: 0.3em 0.6em;
}

#recurring-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.left {
  animation: slideLeft 1s forwards;
  z-index: 1;
}

#recurring-event-form > div:not(.completed-section),
.fade-in {
  animation: fadeIn 1s forwards;
}

.completed-section {
  animation: slideUp 1s forwards;
}

#weekday-selector,
#tag-selector {
  display: flex;
  gap: 0.5em;
}

#weekday-selector > .card,
#tag-selector > .card {
  cursor: pointer;
  padding: 0.5em 1em;
}

.card.selected {
  box-shadow: 0 0 2px 1.5px rgba(165, 165, 165, 0.5);
}

label.small {
  font-size: 0.9em;
}
