#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.top {
  animation: slideUp 2s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-42vh);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card {
  border-radius: 8px;
  background-color: #3b3b3b62;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}

input,
select {
  margin: 0 0.5em;
  padding: 0.3em 0.6em;
}

#recurring-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#recurring-event-form > #name-fields > input.left {
  animation: slideLeft 1s forwards;
  z-index: 1;
}

#recurring-event-form > #name-fields > label {
  animation: fadeIn 1s forwards;
}
